<div class="card-picker-container">
  <div class="rule-description">
    <h1>Your task is:</h1>
    <span class="rule">{{rule}}</span>
  </div>
  <div class="card">
    <img *ngIf="card && !showHelp" src="{{imageIndex}}" alt="card image" (click)="chooseRandomCard()">
    <div class="help-card" *ngIf="showHelp">
      <img class="exit-icon" (click)="showHelp = !showHelp" src="assets/times-solid.svg" alt="exit-icon">
      <div class="description">{{description}}</div>
    </div>
  </div>
  <p>Cards left: {{cardsLeft }}/{{cardOptions.cardTypes.length}}</p>
  <div class="button-container">
    <button (click)="showHelp = !showHelp" class="next-button">Help</button>
    <button (click)="chooseRandomCard()" class="next-button">Next Card</button>
  </div>
</div>

