<div class="card-picker-container">
  <div class="rule-description">
    <h1>{{'your_task' | translate}}</h1>
    <span class="rule">{{rule}}</span>
  </div>
  <div class="card">
    <img *ngIf="card && !showHelp" src="{{imageIndex}}" alt="card image" (click)="chooseRandomCard()">
    <div class="help-card" *ngIf="showHelp">
      <img class="exit-icon" (click)="showHelp = !showHelp" src="assets/times-solid.svg" alt="exit-icon">
      <div class="description">{{description}}</div>
    </div>
  </div>
  <p>{{'cards_left' | translate}} {{cardsLeft }}/{{cardOptions.cardTypes.length}}</p>
  <div class="button-container">
    <button *ngIf="!newGame" (click)="showHelp = !showHelp" class="next-button">{{'help' | translate | titlecase}}</button>
    <button *ngIf="!newGame" (click)="chooseRandomCard()" class="next-button">{{'next_card' | translate | titlecase}}</button>
    <button *ngIf="newGame" (click)="startNewGame()" class="next-button">{{'new_game' | translate | titlecase}}</button>
  </div>
</div>

