@import url("../shared.css");

.card-picker-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
}

.card {
  margin: 15px 0;
  height: 410px;

  img {
    height: 400px;
    width: auto;
    cursor: pointer;
  }

  .help-card {
    height: 400px;
    width: 267px;
    background-color: white;
    border-radius: 12px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    .description {
      width: 90%;
      font-size: 18px;
      text-align: center;
    }

    .exit-icon {
      position: absolute;
      width: 2em;
      height: auto;
      top: 15px;
      right: 20px;
      cursor: pointer;
    }
  }
}

.card-border {
  width: 481px;
  height: 321px;
  border: 1px solid black;
}

.rule-description {
  display: flex;
  flex-direction: column;
  align-items: center;

  .rule {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.next-button {

  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 30px;
  background: linear-gradient(90deg, rgba(121, 65, 9, 1) 35%, rgba(193, 125, 7, 1) 100%);
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.56);
  cursor: pointer;
  font-weight: bold;

  width: 150px;
  height: 50px;
  z-index: 6;
  color: white;
}

.button-container {
  button {
    margin: 0 5px;
  }
}

.scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}


