.start-button {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  background-color: transparent;
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.56);
  font-weight: bold;

  width: 276px;
  height: 65px;
  z-index: 6;
  color: white;
  transition: 0.5s;
}

.start-button:hover {
  background-color: white;
  color: black;
}

.main-button-container {
  position: absolute;
  top: 420px;

  button {
    cursor: pointer;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 20px;
  height: 400px;
}

.language-container {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;

  .single-language {
    cursor: pointer;
    margin: 0 30px;
  }

  .single-language:hover {
    transition: 0.5s;
    color: darkorange;
  }

}


.active {
  color: darkorange;
}



